.button {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  background-color: #fff;
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
  user-select: none;
  box-shadow: 0 0 40px rgba(0,0,0, 0.3);

  @media (hover: hover) {
    &:hover {
      background-color: darken(#fff, 10%);
    }
  
    &:active {
      background-color: darken(#fff, 20%);
    }
  }
}