@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap&subset=cyrillic');

* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  margin: 0;
}